{% extends 'home/base.html' %}
{% load static %}

{% block content %}
    
    <link rel = "stylesheet" type="text/css" href = "{% static 'styles/home/player_detail.css' %}">

    <div class = "jumbotron">
        <h1>{{ player.full_name }}</h1>
        <h3>{{ team }}</h3>
        <img src = "{{ url }}" id = "player_img">
        <h3>PPG:
            {% for k, v in player_season_stats.items %}
                {% if k == 'ppg' %}
                    {{ v }}
                {% endif %}
            {% endfor %}

            APG:
            {% for k, v in player_season_stats.items %}
                {% if k == 'apg' %}
                    {{ v }}
                {% endif %}
            {% endfor %}

            RPG:
            {% for k, v in player_season_stats.items %}
                {% if k == 'rpg' %}
                    {{ v }}
                {% endif %}
            {% endfor %}
        </h3>

        <button id = "add_player" class = "btn btn-warning">Add Player to lineup</button>
    </div>

{% endblock %}